name: Autograding Tests

on:
  push:
    branches:
      - main
  repository_dispatch:

permissions:
  checks: write
  actions: read
  contents: read

jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

          - name: Check installed packages
          pip list

      - name: prog1-tarefa-scrap-yahoo-test
        id: prog1-tarefa-scrap-yahoo-test
        uses: classroom-resources/autograding-python-grader@v1
        with:
          timeout: 10
          setup-command: ''

      - name: Autograding Reporter
        uses: classroom-resources/autograding-grading-reporter@v1
        env:
          PROG1-TAREFA-SCRAP-YAHOO-TEST_RESULTS: "${{ steps.prog1-tarefa-scrap-yahoo-test.outputs.result }}"
        with:
          runners: prog1-tarefa-scrap-yahoo-test
